<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

    <Fragment>

        <!--
            Estado inicial da checkbox.

            1 = marcado
            0 = desmarcado
        -->
        <Property
            Id="ADD_TO_PATH"
            Value="1" />

        <!--
            Componente responsável por adicionar:
                [INSTALL_ROOT]bin

            ao PATH do sistema.
        -->
        <Component
            Id="AddToPathComp"
            Directory="INSTALL_ROOT"
            Guid="E3B0C442-98FC-4C14-9C78-14D535A66B96"
            Condition="ADD_TO_PATH = 1">

            <Environment
                Id="AddToPath"
                Name="PATH"
                Value="[INSTALL_ROOT]bin"
                Action="set"
                Part="last"
                System="yes" />

        </Component>

        <!--
            Coloca o componente dentro da Feature principal
            criada pelo CPack.
        -->
        <FeatureRef Id="ProductFeature">
            <ComponentRef Id="AddToPathComp" />
        </FeatureRef>

    </Fragment>

</Wix>
